@import '../../styles/variables.module.scss';

.card {
  position: relative;
  transition: box-shadow 0.3s, transform 0.3s;
  height: 500px;
  margin-top: 30px;

  .container {
    background-color: $textColorLight;
    box-shadow: 11px 9px 17px -1px rgba(0, 0, 0, 0.12);
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 20px 0;
    border-radius: 20px;
    overflow: hidden;

    img {
      padding: 0 20px;
      width: 250px;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
    }

    .name {
      font-size: 20px;
      font-weight: bold;
    }

    .text {
      font-size: 14px;
      padding: 0 20px;
      color: $textColorDark;
    }
  }
  .readmore {
    font-size: 18px;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    color: $textColorLight;
    background-color: $mainBlue;
    padding: 10px 20px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0;

    &:hover {
      font-size: 22px;
      background-color: darken($mainBlue, 10%);
    }
  }

  &:hover {
    .container {
      transform: scale(0.95);
      transition: all 0.2s ease-in-out;
    }

    .readmore {
      opacity: 1;
    }
  }
}
