@import '../../styles/variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');

.container {
  height: 100vh;
  text-align: center;

  .title {
    font-size: 47px;
    color: $mainBlue;
    font-family: 'Cairo';
    font-weight: 900;
    margin: 5px 0 0;
  }

  .carousel {
    margin-bottom: 50px;
  }
  .text {
    padding: 0;
    font-weight: 400;
    font-family: 'Figtree', sans-serif;
    letter-spacing: 2px;
  }

  .author {
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    color: $mainBlue;
  }
}
