@import '../../styles/variables.module.scss';
.container {
  background-color: $background;
  height: 100vh;
  //background-image: url('https://www.pngkey.com/png/detail/4-46906_abstract-transparent-png-blue-abstract-vector-png.png');
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;

  .title {
    margin: 0 0;
    font-size: 42px;
    color: $mainBlue;
    font-weight: bold;
  }

  .carousel {
    display: flex;
    justify-content: space-between;
  }
}
