@import '../../styles/variables.module.scss';

.container {
  max-width: 800px;
  margin: 10vh auto;
  padding: 15px 0;
  background-color: $background-info;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  .line {
    color: #e1e0e0a6;
    border-style: solid;
    border-width: 0.4px;
  }
  .name {
    font-size: 24px;
    color: $textColorDark;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .text {
    padding: 0 20px 10px;
    text-align: center;
    font-size: 15px;
    color: #666;
  }

  &:hover {
    transform: scale(1.04);
  }
}
